<%- include('../sidebar.ejs')%>
    <%-include('../header.ejs')%>


        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div>
                                    <strong class="card-title">Data Table</strong>
                                </div>
                                <div>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Add Slider & description</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Home location</th>
                                            <th>Home city</th>
                                            <th>Price</th>
                                            <th>Image</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% s.forEach((item)=>{ %> 
                                            <!-- uses for show inserted data at front end known as forEach Loop in express-->
                                        <tr>
                                            <td>
                                                <%= item._id %>
                                            </td>
                                            <td>
                                                <%= item.location %>
                                            </td>
                                            <td>
                                                <%= item.city %>
                                            </td>
                                            <td>
                                                <%= item.address %>
                                            </td>
                                            <td>
                                                <%= item.price %>
                                            </td>

                                            <td><img src="<%= item.Simage.url %>" width="200px"></td>
                                            <td>
                                                <a href="/sliderview/<%= item._id %>"
                                                    class="btn btn-info">View</a>
                                                <a href="/slideredit/<%= item._id %>"
                                                    class="btn btn-info">Edit</a>
                                                <a href="/sliderdelete/<%= item._id %>"
                                                    class="btn btn-info">Delete</a>
                                            </td>

                                        </tr>
                                        <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->


        </div><!-- .content -->
        </div><!-- /#right-panel -->




        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Slider Details </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/insertslider" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label for="">Home location</label>
                                <input type="text" name="location" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="">Home City</label>
                                <input type="text" name="city" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="">Home Address</label>
                                <input type="text" name="address" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="">Home Price</label>
                                <input type="text" name="price" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="">Slider Image</label>
                                <input type="file" name="Simage" class="form-control">
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <%- include('../footer.ejs') %>