<%- include('../sidebar.ejs')%>
    <%-include('../header.ejs')%>


        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div>
                                    <strong class="card-title">Data Table</strong>
                                </div>
                                <div>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Add Services</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Service Title</th>
                                            <th>Service Description</th>
                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% se.forEach((os)=>{ %> 
                                            <!-- uses for show inserted data at front end known as forEach Loop in express-->
                                        <tr>
                                            <td>
                                                <%= os._id %>
                                            </td>
                                            <td>
                                                <%= os.sertitle %>
                                            </td>
                                            <td>
                                                <%= os.serdescription %>
                                            </td>
                                           
                                            <td>
                                                <a href="/serview/<%= os._id %>"
                                                    class="btn btn-info">View</a>
                                                <a href="/seredit/<%= os._id %>"
                                                    class="btn btn-info">Edit</a>
                                                <a href="/serdelete/<%= os._id %>"
                                                    class="btn btn-info">Delete</a>
                                            </td>

                                        </tr>
                                        <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->


        </div><!-- .content -->
        </div><!-- /#right-panel -->




        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Services Details </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/insertservice" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label for="">Service Title</label>
                                <input type="text" name="sertitle" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="">Service Description</label>
                                <input type="text" name="serdescription" class="form-control">
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <%- include('../footer.ejs') %>