<%- include('../sidebar.ejs')%>
    <%-include('../header.ejs')%>


        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div>
                                    <strong class="card-title">Data Table</strong>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Name </th>
                                            <th>Email ID</th>
                                            <th>Message</th>
                                            <th>Subject</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cf.forEach((contf)=>{ %> 
                                            <!-- uses for show inserted data at front end known as forEach Loop in express-->
                                        <tr>
                                            <td>
                                                <%= contf._id %>
                                            </td>
                                            <td>
                                                <%= contf.cfname %>
                                            </td>
                                            <td>
                                                <%= contf.cfemail %>
                                            </td>
                                            <td>
                                                <%= contf.cfmessage %>
                                            </td>
                                            <td>
                                                <%= contf.cfsubject %>
                                            </td>

                                            <td>
                                            
                                                <a href="/contactformdelete/<%= contf._id %>"
                                                    class="btn btn-info">Delete</a>
                                            </td>

                                        </tr>
                                        <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->


        </div><!-- .content -->
        </div><!-- /#right-panel -->
        <%-include('../footer.ejs')%>